@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    margin-top: 125px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 10px 0;
}

p {
    margin: 0;
    padding: 10px 0;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.header, .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.header {
    margin-bottom: 20px;
}

.footer {
    margin-top: 20px;
}

/* Recent Activities Section */
.recent-activities {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.recent-activities h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
    font-size: 36px;
    font-weight: 700;
}

.activity-card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.activity-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.activity-title {
    font-size: 24px;
    color: #158fe7;
    margin-bottom: 10px;
}

.activity-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}