/* Registration Form Section */
.register {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.register h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
    font-size: 36px;
    font-weight: 700;
}

.register form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.register input, .register select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register button {
    background-color: #158fe7;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    width: 100%;
}

.register button:hover {
    background-color: #0056b3;
}

#responseMessage {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: green;
}